@media (max-width:1024px) {
	.payment {
		width: 250px;
	}
}
@media (max-width:768px) {
	.tickets_buy {
		flex-wrap: wrap;
	}
	.payment {
		width: 250px;
	}
	.classic , .econom{
		margin-bottom: 40px;
	}
	.regular_xang {
		margin-top: 25px;
	}
}